- include_tasks: roles/desktop/tasks/main/notify-send-all.yml

- name: Print main ansible facts @basic_security_facts
  changed_when: false
  ignore_errors: yes
  command: 'logger "utmost_report: you are here"'