#!/bin/bash
#
hostdomain=$(hostname -d)
domainname=$(echo $@ | grep -o "@[^ ]*")
if [[ ${domainname:1} != ${hostdomain^^} ]]; then
    echo "The locally defined domain ${hostdomain^^} name does not match the one specified on the command line ${domainname:1}"
    exit 1
fi
if [[ $domainname =~ [a-z] ]]; then
    echo "Use UPPERCASE DOMAIN NAME"
    echo "example: realm.sh -v join -U username@DOMAIN.SUFFIX dc.domain.suffix"
    exit 1
fi
#
realm "$@"
SRC=/root/sssd.conf
DST=/etc/sssd/sssd.conf
if [ -f "$SRC" ] && [ -f "$DST" ]; then
    sleep 1
    echo "Stop sssd ..."
    systemctl stop sssd
    sleep 1
    echo "Move sssd.conf ..."
    mv -f $SRC $DST
    sleep 1
    echo "Remove sssd cache ..."
    rm -f /var/lib/sss/db/*
    sleep 1
    echo "Start sssd ..."
    systemctl start sssd
    echo "PAM auth update ..."
    pam-auth-update --package --enable mkhomedir --remove cracklib --force
    echo
    echo "Please reboot your computer"
    echo
fi
