[sssd]
domains = {{var_local_domain}}
config_file_version = 2
services = nss, pam
[domain/{{var_local_domain}}]
ad_domain = {{var_local_domain}}
ad_site = {{var_ad_site}}
{% if var_ad_server %}
ad_server = {{var_kdc}}
{% if var_kdc_backup is defined %}
ad_server_backup = {{var_kdc_backup}}
{% endif %}
{% endif %}
ad_hostname = {{ansible_facts.nodename.split(".")[0]}}.{{var_local_domain}}
krb5_realm = {{var_default_realm}}
realmd_tags = manages-system joined-with-adcli
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = True
ldap_referrals = False
# use_fully_qualified_names = True
fallback_homedir = /home/%u@%d
access_provider = ad
use_fully_qualified_names = False
override_homedir = /home/%u
{% if var_ad_gpo %}
ad_gpo_access_control = enforcing
ad_gpo_map_interactive = +unity, +cron, +gdm3, +gdm, +login
ad_gpo_map_remote_interactive = +unity, +cron, +gdm3, +gdm, +login
{% else %}
ad_gpo_access_control = disabled
{% endif %}
ignore_group_members = True
entry_cache_timeout = 5400
timeout = 30
simple_deny_groups = {{var_simple_deny_groups}}
ad_access_filter = {{var_ad_access_filter}}
