-w /etc/security/limits.conf -p wa -k {{var_audit_keys.sudo}}
-w /etc/security/limits.d -p wa -k {{var_audit_keys.sudo}}
-w /etc/security/pam_env.conf -p wa -k {{var_audit_keys.sudo}}
-w /etc/security/namespace.conf -p wa -k {{var_audit_keys.sudo}}
-w /etc/security/namespace.d -p wa -k {{var_audit_keys.sudo}}
-w /etc/security/namespace.init -p wa -k {{var_audit_keys.sudo}}
-w /etc/pam.d -p wa -k {{var_audit_keys.sudo}}
