-w /boot/ -p wa -k {{var_audit_keys.system}}
-w /bin/ -p wa -k {{var_audit_keys.system}}
-w /sbin/ -p wa -k {{var_audit_keys.system}}
-w /usr/bin/ -p wa -k {{var_audit_keys.system}}
-w /usr/sbin/ -p wa -k {{var_audit_keys.system}}
