-w /etc/audit/ -p wa -k {{var_audit_keys.audit}}
-w /etc/libaudit.conf -p wa -k {{var_audit_keys.audit}}
-w /etc/audisp/ -p wa -k {{var_audit_keys.audit}}
-w /sbin/auditctl -p x -k {{var_audit_keys.audit}}
-w /sbin/auditd -p x -k {{var_audit_keys.audit}}
-w /usr/sbin/augenrules -p x -k {{var_audit_keys.audit}}
-w /var/log/audit/ -p wa -k {{var_audit_keys.audit}} 
