-a always,exit -F arch=b32 -S mount -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S mount -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S removexattr -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b32 -S removexattr -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S setxattr -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b32 -S setxattr -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S fsetxattr -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b32 -S fsetxattr -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S chmod -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b32 -S chmod -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S chown -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b32 -S chown -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S lsetxattr -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b32 -S lsetxattr -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S fchown -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b32 -S fchown -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S fremovexattr -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b32 -S fremovexattr -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S lchown -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b32 -S lchown -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S lremovexattr -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b32 -S lremovexattr -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S fchmod -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b32 -S fchmod -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S fchownat -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b32 -S fchownat -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b64 -S fchmodat -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
-a always,exit -F arch=b32 -S fchmodat -F auid>=1000 -F auid!=unset -F key={{var_audit_keys.stat}}
