-w /root/.bashrc -p wa -k {{var_audit_keys.profile}}
-w /root/.profile -p wa -k {{var_audit_keys.profile}}
-w /etc/profile -p wa -k {{var_audit_keys.profile}}
-w /etc/shells -p wa -k {{var_audit_keys.profile}}
-w /etc/bash.bashrc -p wa -k {{var_audit_keys.profile}}
