-a always,exit -F arch=b64 -S delete_module -k {{var_audit_keys.module}}
-a always,exit -F arch=b32 -S delete_module -k {{var_audit_keys.module}}
-a always,exit -F arch=b64 -S init_module -k {{var_audit_keys.module}}
-a always,exit -F arch=b32 -S init_module -k {{var_audit_keys.module}}
-a always,exit -F arch=b64 -S finit_module -k {{var_audit_keys.module}}
-a always,exit -F arch=b32 -S finit_module -k {{var_audit_keys.module}}
