-a always,exit -F arch=b64 -S connect -F a2=16 -F success=1 -F key={{var_audit_keys.connect}}
-a always,exit -F arch=b32 -S connect -F a2=16 -F success=1 -F key={{var_audit_keys.connect}}
-a always,exit -F arch=b64 -S connect -F a2=28 -F success=1 -F key={{var_audit_keys.connect}}
-a always,exit -F arch=b32 -S connect -F a2=28 -F success=1 -F key={{var_audit_keys.connect}}
