-a always,exit -F arch=b64 -S open -F dir=/etc -F success=0 -F key={{var_audit_keys.unsuccess}}
-a always,exit -F arch=b32 -S open -F dir=/etc -F success=0 -F key={{var_audit_keys.unsuccess}}
-a always,exit -F arch=b64 -S open -F dir=/usr -F success=0 -F key={{var_audit_keys.unsuccess}}
-a always,exit -F arch=b32 -S open -F dir=/usr -F success=0 -F key={{var_audit_keys.unsuccess}}
-a always,exit -F arch=b64 -S open -F dir=/var -F success=0 -F key={{var_audit_keys.unsuccess}}
-a always,exit -F arch=b32 -S open -F dir=/var -F success=0 -F key={{var_audit_keys.unsuccess}}
-a always,exit -F arch=b64 -S open -F dir=/bin -F success=0 -F key={{var_audit_keys.unsuccess}}
-a always,exit -F arch=b32 -S open -F dir=/bin -F success=0 -F key={{var_audit_keys.unsuccess}}
-a always,exit -F arch=b64 -S open -F dir=/opt -F success=0 -F key={{var_audit_keys.unsuccess}}
-a always,exit -F arch=b32 -S open -F dir=/opt -F success=0 -F key={{var_audit_keys.unsuccess}}
-a always,exit -F arch=b64 -S open -F dir=/sbin -F success=0 -F key={{var_audit_keys.unsuccess}}
-a always,exit -F arch=b32 -S open -F dir=/sbin -F success=0 -F key={{var_audit_keys.unsuccess}}
-a always,exit -F arch=b64 -S open -F dir=/home -F success=0 -F key={{var_audit_keys.unsuccess}}
-a always,exit -F arch=b32 -S open -F dir=/home -F success=0 -F key={{var_audit_keys.unsuccess}}
