{
"AudioCaptureAllowedUrls": ["https://[*.]{{var_local_domain}}", "https://[*.]{{var_external_domain}}"],
"VideoCaptureAllowedUrls": ["https://[*.]{{var_local_domain}}", "https://[*.]{{var_external_domain}}"]
}