{
"AdsSettingForIntrusiveAdsSites": 2,
"AllowCrossOriginAuthPrompt": false,
"AllowDeletingBrowserHistory": false,
"AllowFileSelectionDialogs": true,
"AlternateErrorPagesEnabled": false,
"AudioCaptureAllowed": false,
"AudioSandboxEnabled": true,
"AuthNegotiateDelegateAllowlist": "*.{{var_local_domain}},*.{{var_external_domain}}",
"AuthServerAllowlist": "*.{{var_local_domain}},*.{{var_external_domain}}",
"AutofillAddressEnabled": false,
"AutofillCreditCardEnabled": false,
"AutoFillEnabled": false,
"AutoOpenFileTypes": [""],
"AutoplayAllowed": false,
"AutoplayAllowlist": ["https://[*.]{{var_local_domain}}"],
"BackgroundModeEnabled": false,
"BasicAuthOverHttpEnabled": false,
"BlockThirdPartyCookies": true,
"BrowserGuestModeEnabled": false,
"BrowserNetworkTimeQueriesEnabled": false,
"BrowserSignin": 0,
"CloudPrintProxyEnabled": false,
"CommandLineFlagSecurityWarningsEnabled": true,
"ComponentUpdatesEnabled": true,
"DefaultBrowserSettingEnabled": false,
{% if not var_programmer_workstation %}
"DefaultCookiesSetting": 4,
{% endif %}
"DefaultFileSystemReadGuardSetting": 3,
"DefaultFileSystemWriteGuardSetting": 3,
"DefaultGeolocationSetting": 2,
"DefaultInsecureContentSetting": 2,
"DefaultJavaScriptJitSetting": 2,
"DefaultNotificationsSetting": 2,
"DefaultPopupsSetting": 2,
"DefaultSearchProviderEnabled": true,
"DefaultSensorsSetting": 2,
"DefaultSerialGuardSetting": 2,
"DefaultWebBluetoothGuardSetting": 2,
"DefaultWebHidGuardSetting": 3,
{% if var_programmer_workstation %}
"DeveloperToolsAvailability": 0,
{% else %}
"DeveloperToolsAvailability": 2,
{% endif %}
"Disable3DAPIs": false,
"DisableSafeBrowsingProceedAnyway": true,
"DisableScreenshots": true,
"DNSInterceptionChecksEnabled": true,
"DownloadRestrictions": 4,
"EnableMediaRouter": false,
"EnterpriseHardwarePlatformAPIEnabled": false,
"ExternalProtocolDialogShowAlwaysOpenCheckbox": false,
"FileSystemReadAskForUrls": [""],
"ForceEphemeralProfiles": false,
"ForceGoogleSafeSearch": true,
"GloballyScopeHTTPAuthCacheEnabled": false,
"HomepageLocation": "{{var_browser_homepagelocation}}",
"HSTSPolicyBypassList": [""],
"ImportAutofillFormData": false,
"ImportHistory": false,
"ImportHomepage": false,
"ImportSavedPasswords": false,
"ImportSearchEngine": false,
"IncognitoModeAvailability": 1,
"InsecureFormsWarningsEnabled": true,
"InsecurePrivateNetworkRequestsAllowed": false,
"MediaRouterCastAllowAllIPs": false,
"MetricsReportingEnabled": false,
"NetworkPredictionOptions": 2,
"NotificationsAllowedForUrls":  ["https://[*.]{{var_local_domain}}", "https://[*.]{{var_external_domain}}"],
"OverrideSecurityRestrictionsOnInsecureOrigin": [""],
"PasswordManagerEnabled": false,
"PaymentMethodQueryEnabled": false,
"PopupsAllowedForUrls": ["https://[*.]{{var_local_domain}}"],
"RelaunchNotification": 2,
"RelaunchNotificationPeriod": 604800000,
"RemoteAccessHostFirewallTraversal": false,
"RemoteDebuggingAllowed": false,
"RequireOnlineRevocationChecksForLocalAnchors": false,
"RestoreOnStartup": 4,
"RestoreOnStartupURLs": ["{{var_browser_homepagelocation}}"],
"SafeBrowsingExtendedReportingEnabled": false,
"SafeBrowsingProtectionLevel": 1,
"SavingBrowserHistoryDisabled": false,
"ScreenCaptureAllowed": false,
"SearchSuggestEnabled": false,
"SharedArrayBufferUnrestrictedAccessAllowed": false,
"SitePerProcess": true,
"SSLErrorOverrideAllowed": false,
"SuppressUnsupportedOSWarning": false,
"SyncDisabled": true,
"SyncTypesListDisabled": ["bookmarks", "readingList", "preferences", "passwords", "autofill", "themes", "typedUrls", "extensions", "apps", "tabs", "wifiConfigurations"],
"TranslateEnabled": false,
"URLBlocklist": ["javascript://*"],
"UserFeedbackAllowed": false,
"VideoCaptureAllowed": false,
"WebRtcLocalIpsAllowedUrls": [""]
}
