[Unit]
Description=Runs ansible-pull
Wants=ansible-pull.timer

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/bin/ansible-pull -o -i localhost -d /root/.ansible/pull/{{var_ansible_repo}} -U {{var_ansible_git}} {{var_ansible_playbook}}| logger -n {{var_rsyslog_server}}'
