- name: Chromium browser latest @chromium_browser_latest
  package:
    name: "{{ ['chromium-browser', 'libnss3-tools'] if ansible_distribution in ['Ubuntu'] else 'chromium'}}"
    state: latest
  tags:
    - ws
    - chromium_browser_latest

- name: Set xdg-settings defaults @set_xdg_settings_defaults
  copy:
    dest: /etc/profile.d/set-xdg-settings.sh
    mode: a+rx
    content: |
      #!/bin/bash
      #
      if [ $UID -gt {{var_min_domain_uid}} ]; then
      FLAG=~/.set-xdg-settings.2021112501
      if [ ! -f "$FLAG" ]; then
          #
          xdg-settings set default-web-browser chromium.desktop
          #
          touch $FLAG
      fi
      fi
  tags:
    - ws
    - set_xdg_settings_defaults

- name: Set browser dict @set_browser_dict
  copy:
    dest: /etc/profile.d/set-browser-dict.sh
    mode: a+rx
    content: |
      #!/bin/bash
      #
      if [ $UID -gt {{var_min_domain_uid}} ]; then
      FLAG=$BDICDIR/en-US-10-1.bdic
      BDICURL=https://{{var_ansible_fqdn}}/files/chromium
      BDICDIR=~/.config/chromium/Dictionaries
      if [ ! -f "$FLAG" ]; then
          #
          curl $BDICURL/en-GB-10-1.bdic -o $BDICDIR/en-GB-10-1.bdic
          curl $BDICURL/en-US-10-1.bdic -o $BDICDIR/en-US-10-1.bdic
          #
          touch $FLAG
      fi
      fi
  tags:
    - ws
    - set_browser_dict

- name: Set chromium variables @set_chromium_variables
  block:
    - name: Set chromium variables Defaults @set_chromium_variables
      failed_when: false
      blockinfile:
        dest: /etc/chromium/default
        marker_begin: BEGIN_FLAGS
        marker_end: END_FLAGS
        block: |
          export CHROMIUM_FLAGS="$CHROMIUM_FLAGS --auth-server-whitelist=*.{{var_local_domain}},*.{{var_external_domain}}"
          export CHROMIUM_FLAGS="$CHROMIUM_FLAGS --password-store=gnome"
          export CHROMIUM_FLAGS="$CHROMIUM_FLAGS --disable-gpu"
    - name: Set chromium variables Chromium @set_chromium_variables
      failed_when: false
      blockinfile:
        dest: /etc/default/chromium
        marker_begin: BEGIN_FLAGS
        marker_end: END_FLAGS
        block: |
          export CHROMIUM_FLAGS="$CHROMIUM_FLAGS --auth-server-whitelist=*.{{var_local_domain}},*.{{var_external_domain}}"
          export CHROMIUM_FLAGS="$CHROMIUM_FLAGS --password-store=gnome"
          export CHROMIUM_FLAGS="$CHROMIUM_FLAGS --disable-gpu"
  tags:
    - ws
    - set_chromium_variables

- name: Chromium remove outdated files @chromium_remove_outdated_files
  ignore_errors: true
  block:
    - name: Chromium remove outdated files List local @chromium_remove_outdated_files
      set_fact:
        local_files: "{{ local_files | default([]) + [item | basename | replace('.j2', '') ] }}"
      with_fileglob:
        - "{{playbook_dir}}/inventories/subnets/{{var_subnet}}/files/browser/chromium/*"
        - "{{playbook_dir}}/inventories/all/files/browser/chromium/*"
        - "{{playbook_dir}}/roles/browser/templates/*"
    - name: Chromium remove outdated files List remote @chromium_remove_outdated_files
      find:
        path: /etc/chromium/policies/managed/
        recurse: no
        file_type: file
      register: remote_files_path
    - name: Chromium remove outdated files List remote @chromium_remove_outdated_files
      set_fact:
        remote_files: "{{ remote_files | default([]) + [item.path | basename] }}"
      with_items: "{{remote_files_path.files}}"
    - name: Chromium remove outdated files Remove @chromium_remove_outdated_files
      file:
        path: /etc/chromium/policies/managed/{{item}}
        state: absent
      with_items: "{{ remote_files | difference(local_files) }}"
  tags:
    - ws
    - chromium_remove_outdated_files

- name: Chromium policies @chromium_policies
  block:
    - name: Chromium policies Copy @chromium_policies
      copy:
        src: "{{item}}"
        dest: /etc/chromium/policies/managed/
        mode: '0755'
      with_fileglob:
        - "{{playbook_dir}}/inventories/all/files/browser/chromium/*.json"
    - name: Chromium policies Templates role @chromium_policies
      template:
        src: "{{item}}"
        dest: '/etc/chromium/policies/managed/{{(item|basename).split(".")[0]}}.json'
        mode: '0755'
      with_fileglob:
        - "{{playbook_dir}}/roles/browser/templates/*"
    - name: Chromium policies Templates inventory @chromium_policies
      template:
        src: "{{item}}"
        dest: '/etc/chromium/policies/managed/{{(item|basename).split(".")[0]}}.json'
        mode: '0755'
      with_fileglob:
        - "{{playbook_dir}}/inventories/all/files/browser/chromium/*.j2"
    - name: Chromium policies Mode @chromium_policies
      file:
        path: /etc/chromium/policies/managed
        mode: '0755'
        recurse: yes
    - name: Status initial_bookmarks.html @chromium_policies
      failed_when: false
      stat: path=/usr/share/chromium/initial_bookmarks.html
      register: init_bookmarks_stat
    - name: Rename initial_bookmarks.html @chromium_policies
      command: mv /usr/share/chromium/initial_bookmarks.html /usr/share/chromium/initial_bookmarks.html.orig
      when: init_bookmarks_stat.stat.exists
  tags:
    - ws
    - chromium_policies
