<?xml version="1.0" encoding="utf-8"?>
<zone>
    <short>trusted</short>
{% if var_flags.devel_workstation.state %}
    <source address="192.168.0.0/16"/>
{% endif %}
    <source address="192.168.1.1"/>
    <source address="192.168.20.1"/>
    <source address="192.168.56.1"/>
    <source address="192.168.122.1"/>
    <source address="10.99.99.99"/>
    <port protocol="tcp" port="22"/>
    <port protocol="tcp" port="3389"/>
    <service name="ssh"/>
</zone>
