<?xml version="1.0" encoding="utf-8"?>
<zone>
    <short>trusted</short>
{% if var_devel_workstation %}
    <source address="192.168.122.1"/>
{% endif %}
    <source address="10.99.99.99"/>
    <port protocol="tcp" port="22"/>
    <port protocol="tcp" port="3389"/>
    <service name="ssh"/>
</zone>
