- name: Secure boot utils are present @secure_boot_utils_present
  ignore_errors: "{{ansible_check_mode}}"
  package:
    name:
      - mokutil
      - efitools
      - systemd-boot-tools
      - cryptsetup
  when: var_secure_boot
  tags:
    - ws
    - secure_boot_utils_present

- name: Get secure boot status @get_secure_boot_status
  ignore_errors: "{{ansible_check_mode}}"
  block:
    - name: Check Secure Boot status with mokutil
      command: mokutil --sb-state
      register: mokutil_output
      changed_when: false
    - name: Set secure_boot variable
      set_fact:
        var_secure_boot_status: "{{ true if 'SecureBoot enabled' in mokutil_output.stdout else false }}"
  when: var_secure_boot
  tags:
    - ws
    - get_secure_boot_status

- name: Secure boot keys are updated @sb_keys are_updated
  block:
    - name: Check PK
      command: mokutil --pk
      register: result
    - name: Update PK
      command: efi-updatevar -f {{playbook_dir}}/assets/esl/PK.auth PK
      when: result.stdout | trim == ""
    - name: Check KEK
      command: mokutil --kek
      register: result
    - name: Update KEK
      command: efi-updatevar -f {{playbook_dir}}/assets/esl/KEK.auth KEK
      when: result.stdout | trim == ""
    - name: Check DB
      command: mokutil --db
      register: result
    - name: Update DB
      command: efi-updatevar -f {{playbook_dir}}/assets/esl/DB.auth db
      when: result.stdout | trim == ""
  when: var_secure_boot and not var_secure_boot_status
  tags:
    - ws
    - sb_keys are_updated

- name: Download and extract uki @uki_download_and_extract
  block:
    - name: Check if UKI file exists
      ansible.builtin.stat:
        path: /boot/efi/EFI/debian/{{var_uki_filename}}
      register: uki_file
    - name: Download and extract artifact
      shell:
        cmd: |
          curl -L -H "Authorization: token {{var_token_head}}11ABI7QAI0Noo5mutnfZ7t_qO6kZRccqCW93vrjE7qsSTusFSrKZxiEZu0AldKvQogK7D2CQLMenfTgsns" \
            "https://api.github.com/repos/skosachiov/remediations-gendbuntu/actions/artifacts/4487440846/zip" \
            -o /tmp/artifact.zip && \
          unzip -o /tmp/artifact.zip -d /tmp/artifact/
      args:
        warn: false
      when: not uki_file.stat.exists
    - name: Copy UKI file to EFI
      copy:
        src: /tmp/artifact/linux-signed.uki
        dest: /boot/efi/EFI/debian/{{var_uki_filename}}
        remote_src: yes
        mode: '0644'
      when: not uki_file.stat.exists
  when: var_secure_boot
  tags:
    - ws
    - uki_download_and_extract

- name: UKI from systemd-boot @uki_from_systemd_boot
  block:
    - name: Systemd-boot is installed
      package:
        name:
          - systemd-boot
    - name: Systemd-boot config
      copy:
        dest: /boot/efi/loader/entries/uki.conf
        content: |
          title linux-uki
          efi /EFI/debian/{{var_uki_filename}}
    - name: Set systemd-boot as default UEFI entry
      command: bootctl --path=/boot/efi set-default
  when: var_secure_boot
  tags:
    - ws
    - uki_from_systemd_boot

- name: Force cryptenroll if uki installed @force_cryptenroll
  block:
    - name: Check bootctl status
      shell: cryptsetup luksDump $(blkid -t TYPE=crypto_LUKS -o device) | grep -q {{var_cryptenroll_policy}}
      register: result
    - name:
      shell: |
        CRYPTPART=$(blkid -t TYPE=crypto_LUKS -o device)
        openssl rand -hex 4096 > /tmp/unlock-key-file
        chmod 400 /tmp/unlock-key-file
        cat /etc/unlock-key-file.backup | cryptsetup luksAddKey $CRYPTPART /tmp/unlock-key-file
        systemd-cryptenroll --unlock-key-file=/tmp/unlock-key-file --tpm2-device=auto --tpm2-pcrs={{var_cryptenroll_polic}} $CRYPTPART
        cryptsetup --key-file=/tmp/unlock-key-file luksKillSlot $CRYPTPART 0
        rm -f /boot/efi/unlock-key-file.gpg
        wget -O /tmp/sample-pubkey.asc https://github.com/skosachiov/remediations-gendbuntu/raw/main/assets/sample-pubkey.asc
        gpg --encrypt --recipient-file /tmp/sample-pubkey.asc --output /boot/efi/unlock-key-file.gpg < /tmp/unlock-key-file
        rm -f /tmp/unlock-key-file
      when: result.rc != 0
  tags:
    - ws
    - force_cryptenroll
