- name: Secure boot utils are present @secure_boot_utils_present
  ignore_errors: "{{ansible_check_mode}}"
  package:
    name:
      - mokutil
      - efitools
      - systemd-boot
      - systemd-boot-efi
      - systemd-boot-tools
      - systemd-ukify
      - cryptsetup
      - gdisk
      - unzip
  when: var_secure_boot
  tags:
    - ws
    - secure_boot_utils_present

- name: Tss user with dynamic ID @tss_dynamic_id
  copy:
    dest: /usr/lib/sysusers.d/tpm2-tss.conf
    content: |
      #Type Name ID  GECOS                         Home directory Shell
      u     tss  -   "Account used for TPM access" /var/lib/tpm   /usr/sbin/nologin
  when: var_secure_boot
  tags:
    - ws
    - tss_dynamic_id

- name: Get secure boot status @get_secure_boot_status
  ignore_errors: "{{ansible_check_mode}}"
  block:
    - name: Check Secure Boot status with mokutil
      command: mokutil --sb-state
      register: mokutil_output
      changed_when: false
    - name: Set secure_boot variable
      set_fact:
        secure_boot_status: "{{ true if 'SecureBoot enabled' in mokutil_output.stdout else false }}"
    - name: Get crypto luks device
      changed_when: false
      command: blkid -t TYPE=crypto_LUKS -o device
      register: result
    - name: Set crypto luks device
      set_fact:
        crypto_luks_device: "{{result.stdout}}"
  when: var_secure_boot
  tags:
    - ws
    - get_secure_boot_status

- name: Systemd partition unique guid @systemd_uniq_guid
  ignore_errors: "{{ ansible_check_mode }}"
  block:
    - name: Set partition GUID facts
      set_fact:
        part_guid:
          - {'mount_point': '/', 'guid': '4f68bce3-e8cd-4db1-96e7-fbcaf984b709'}
          - {'mount_point': '/boot/efi', 'guid': 'c12a7328-f81f-11d2-ba4b-00a0c93ec93b'}
          - {'mount_point': '/boot', 'guid': 'bc13c2ff-59e6-4262-a352-b275fd6f7172'}
    - name: Get device for each mount point
      shell: >
        if [ "{{ item.mount_point }}" = "/" ]; then
          blkid -t TYPE=crypto_LUKS -o device;
        else
          findmnt -n -o SOURCE "{{ item.mount_point }}";
        fi
      register: mount_devices
      loop: "{{ part_guid }}"
      changed_when: false
    - name: Process each partition
      shell: sgdisk -i "{{ item.stdout[-1] }}" "{{ item.stdout[:-1] }}" | awk '/Partition unique GUID:/ {print $4}'
      register: current_guids
      loop: "{{ mount_devices.results }}"
      when: item.stdout != ""
      changed_when: false
    - name: Change partition GUIDs if needed
      command: sgdisk --partition-guid={{ item.0.stdout[-1] }}:{{ item.0.item.guid }} "{{ item.0.stdout[:-1] }}"
      loop: "{{ mount_devices.results | zip(current_guids.results) | list }}"
      when:
        - item.1.stdout | lower != item.0.item.guid | lower
        - item.0.stdout != ""
  when: var_secure_boot
  tags:
    - ws
    - systemd_uniq_guid

- name: Secure boot keys are updated @sb_keys are_updated
  block:
    - name: Check PK
      changed_when: false
      command: mokutil --pk
      register: result
    - name: Update PK
      command: efi-updatevar -f {{playbook_dir}}/assets/esl/PK.auth PK
      when: result.stdout | trim == ""
    - name: Check KEK
      changed_when: false
      command: mokutil --kek
      register: result
    - name: Update KEK
      command: efi-updatevar -f {{playbook_dir}}/assets/esl/KEK.auth KEK
      when: result.stdout | trim == ""
    - name: Check DB
      changed_when: false
      command: mokutil --db
      register: result
    - name: Update DB
      command: efi-updatevar -f {{playbook_dir}}/assets/esl/DB.auth db
      when: result.stdout | trim == ""
  when: var_secure_boot and not secure_boot_status
  tags:
    - ws
    - sb_keys are_updated

- name: Download and extract uki @uki_download_and_extract
  block:
    - name: Check if UKI file exists
      stat:
        path: /boot/efi/EFI/debian/{{var_uki_filename}}
      register: uki_file
    - name: Download and extract artifact
      shell:
        cmd: |
          curl -L -H "Authorization: token {{var_token_head}}{{var_token_tail}}" \
            "{{var_uki_artifact}}" -o /tmp/artifact.zip \
            && unzip -o /tmp/artifact.zip -d /tmp/artifact/
      when: not uki_file.stat.exists
    - name: Copy UKI file to EFI
      copy:
        src: /tmp/artifact/linux-signed.uki
        dest: /boot/efi/EFI/debian/{{var_uki_filename}}
        remote_src: yes
        mode: '0644'
      when: not uki_file.stat.exists
    - name: Copy systemd-boot file to EFI
      copy:
        src: /tmp/artifact/systemd-bootx64-signed.efi
        dest: /boot/efi/EFI/systemd/systemd-bootx64-signed.efi
        remote_src: yes
        mode: '0600'
      when: not uki_file.stat.exists
  when: var_secure_boot
  tags:
    - ws
    - uki_download_and_extract

- name: UKI from systemd-boot @uki_from_systemd_boot
  block:
    - name: Systemd-boot is installed
      package:
        name:
          - systemd-boot
    - name: Copy systemd-boot file to EFI
      copy:
        src: /boot/efi/EFI/systemd/systemd-bootx64-signed.efi
        dest: /boot/efi/EFI/systemd/systemd-bootx64.efi
        remote_src: yes
        mode: '0600'
      notify: Reboot system
    - name: Ensure directory exists
      file:
        path: /boot/efi/loader/entries
        state: directory
    - name: Systemd-boot config
      copy:
        dest: /boot/efi/loader/entries/uki.conf
        content: |
          title linux-uki
          efi /EFI/debian/{{var_uki_filename}}
    - name: Systemd-boot loader config
      copy:
        dest: /boot/efi/loader/loader.conf
        content: |
          timeout 5
          default uki.conf
          editor no
      register: result
    - name: Systemd-boot install record and default
      shell: bootctl install; bootctl set-default "Linux Boot Manager"
      when: result.changed
  when: var_secure_boot
  tags:
    - ws
    - uki_from_systemd_boot

- name: Create recovery @create_recovery_key
  block:
    - name: Check recovery key exists
      stat:
        path: "{{var_crypt_recovery_key}}"
      register: result
    - name:
      shell: |
        systemd-cryptenroll --recovery-key \
          --unlock-key-file={{var_crypt_unlock_key_file}} {{crypto_luks_device}} > {{var_crypt_recovery_key}}
      when: not result.stat.exists
    - name: Ensure recovery key permissions
      file:
        path: "{{var_crypt_recovery_key}}"
        mode: "0600"
        owner: root
        group: root
    - name: Check recovery key exists
      stat:
        path: /boot/efi/recovery-key.gpg
      register: result
    - name: Download gpg asc
      get_url:
        url: "{{var_sec_officer_pubkey}}"
        dest: /tmp/sample-pubkey.asc
      when: not result.stat.exists
    - name: Encrypt gpg
      shell: |
        gpg --batch --encrypt --recipient-file /tmp/sample-pubkey.asc \
          --output /boot/efi/recovery-key.gpg < /root/recovery-key.strong;
      when: not result.stat.exists
  when: var_secure_boot
  tags:
    - ws
    - create_recovery_key

- name: Cryptenroll if uki installed @uki_cryptenroll
  block:
    - name: Check cryptsetup status hash pcrs
      changed_when: false
      failed_when: false
      shell: |
        cryptsetup luksDump {{crypto_luks_device}} \
          | grep -q "tpm2-hash-pcrs:\s*{{var_cryptenroll_tpm2_pcrs.split(':')[0]}}$"
      register: result_hash
    - name: Check cryptsetup status pubkey
      changed_when: false
      failed_when: false
      shell: |
        cryptsetup luksDump {{crypto_luks_device}} \
          | grep -q "tpm2-pubkey-pcrs:\s*{{var_cryptenroll_tpm2_pubkey_pcrs}}$"
      register: result_pubkey
    - name: Copy a file from the playbook's files directory
      copy:
        src: "{{playbook_dir}}/assets/esl/tpm2-pcr-public-key-system.pem"
        dest: /etc/systemd/tpm2-pcr-public-key-system.pem
        owner: root
        group: root
        mode: '0644'
      when: var_cryptenroll_tpm2_pubkey_pcrs != ''
    - name:
      shell: |
        systemd-cryptenroll --unlock-key-file=/root/unlock-key-file.weak \
          --wipe-slot=tpm2 --tpm2-device=auto \
          --tpm2-pcrs={{var_cryptenroll_tpm2_pcrs}} \
          {% if var_cryptenroll_tpm2_pubkey_pcrs != '' and secure_boot_status %} \
          --tpm2-public-key=/etc/systemd/tpm2-pcr-public-key-system.pem \
          --tpm2-public-key-pcrs={{var_cryptenroll_tpm2_pubkey_pcrs}} \
          {% endif %} {{crypto_luks_device}}
      notify: Reboot system
      when: result_hash.rc != 0 or result_pubkey.rc != 0
  when: secure_boot_status
  tags:
    - ws
    - uki_cryptenroll

- name: Add systemd-boot to EFI boot entries @add_systemd_boot_to_efi
  block:
    - name: Get first boot
      shell: efibootmgr | grep '^BootOrder' | cut -f 2 -d ' ' | cut -f 1 -d ','
      register: first_boot_entry
      failed_when: false
      changed_when: false
    - name: Get systemd-boot entry
      shell: efibootmgr | grep {{var_systemd_boot_filename}} | grep -v PciRoot | grep -Po "^Boot\K[0-9]+"
      register: systemd_boot_boot_entry
      failed_when: false
      changed_when: false
    - name: Get efi device
      command: findmnt -n -o SOURCE /boot/efi
      changed_when: false
      register: efi_device
    - name: Add systemd-boot to EFI boot entries
      command: bootctl install
      notify: Reboot system
      when: systemd_boot_boot_entry.stdout | trim == ""
    - name: Get systemd-boot entry
      shell: efibootmgr | grep {{var_systemd_boot_filename}} | grep -v PciRoot | grep -Po "^Boot\K[0-9]+"
      register: systemd_boot_boot_entry
      failed_when: false
      changed_when: false
    - name: First boot systemd-boot
      command: efibootmgr -o {{systemd_boot_boot_entry.stdout}}
      notify: Reboot system
      when:
        - systemd_boot_boot_entry.stdout | trim != ""
        - first_boot_entry.stdout | trim != systemd_boot_boot_entry.stdout | trim
  tags:
    - ws
    - add_systemd_boot_to_efi

- name: Grub absent @grub_absent
  ignore_errors: "{{ansible_check_mode}}"
  block:
  - name: Get first boot
    shell: efibootmgr | grep '^BootCurrent' | cut -f 2 -d ' '
    register: current_boot_entry
    failed_when: false
    changed_when: false
  - name: Get systemd-boot entry
    shell: efibootmgr | grep {{var_systemd_boot_filename}} | grep -Po "^Boot\K[0-9]+"
    register: systemd_boot_boot_entry
    failed_when: false
    changed_when: false
  - name: Remove packages
    package:
      name:
        - shim-signed
        - shim-unsigned
        - grub-efi-amd64
        - grub-efi-amd64-bin
        - grub-efi-amd64-unsigned
        - grub-pc
        - grub-pc-bin
      state: absent
    when: current_boot_entry.stdout | trim == systemd_boot_boot_entry.stdout | trim
  when: var_secure_boot
  tags:
    - ws
    - grub_absent
