- name: Secure boot utils are present @secure_boot_utils_present
  ignore_errors: "{{ansible_check_mode}}"
  package:
    name:
      - mokutil
      - efitools
      - systemd-boot-tools
      - systemd-ukify
      - cryptsetup
      - gdisk
      - unzip
  when: var_secure_boot
  tags:
    - ws
    - secure_boot_utils_present

- name: Get secure boot status @get_secure_boot_status
  ignore_errors: "{{ansible_check_mode}}"
  block:
    - name: Check Secure Boot status with mokutil
      command: mokutil --sb-state
      register: mokutil_output
      changed_when: false
    - name: Set secure_boot variable
      set_fact:
        var_secure_boot_status: "{{ true if 'SecureBoot enabled' in mokutil_output.stdout else false }}"
  when: var_secure_boot
  tags:
    - ws
    - get_secure_boot_status        

- name: Systemd partition unique guid @systemd_uniq_guid
  ignore_errors: "{{ ansible_check_mode }}"
  block:
    - name: Set partition GUID facts
      set_fact:
        part_guid:
          - {'mount_point': '/', 'guid': '4f68bce3-e8cd-4db1-96e7-fbcaf984b709'}
          - {'mount_point': '/boot/efi', 'guid': 'c12a7328-f81f-11d2-ba4b-00a0c93ec93b'}
          - {'mount_point': '/boot', 'guid': 'bc13c2ff-59e6-4262-a352-b275fd6f7172'}
    - name: Get device for each mount point
      shell: >
        if [ "{{ item.mount_point }}" = "/" ]; then 
          blkid -t TYPE=crypto_LUKS -o device;
        else
          findmnt -n -o SOURCE "{{ item.mount_point }}";
        fi
      register: mount_devices
      loop: "{{ part_guid }}"
      changed_when: false
    - name: Process each partition
      shell: sgdisk -i "{{ item.stdout[-1] }}" "{{ item.stdout[:-1] }}" | awk '/Partition unique GUID:/ {print $4}'
      register: current_guids
      loop: "{{ mount_devices.results }}"
      when: item.stdout != ""
      changed_when: false
    - name: Change partition GUIDs if needed
      command: sgdisk --partition-guid={{ item.0.stdout[-1] }}:{{ item.0.item.guid }} "{{ item.0.stdout[:-1] }}"
      loop: "{{ mount_devices.results | zip(current_guids.results) | list }}"
      when: 
        - item.1.stdout | lower != item.0.item.guid | lower
        - item.0.stdout != ""
  when: var_secure_boot
  tags:
    - ws
    - systemd_uniq_guid

- name: Secure boot keys are updated @sb_keys are_updated
  block:
    - name: Check PK
      changed_when: false
      command: mokutil --pk
      register: result
    - name: Update PK
      command: efi-updatevar -f {{playbook_dir}}/assets/esl/PK.auth PK
      when: result.stdout | trim == ""
    - name: Check KEK
      changed_when: false
      command: mokutil --kek
      register: result
    - name: Update KEK
      command: efi-updatevar -f {{playbook_dir}}/assets/esl/KEK.auth KEK
      when: result.stdout | trim == ""
    - name: Check DB
      changed_when: false
      command: mokutil --db
      register: result
    - name: Update DB
      command: efi-updatevar -f {{playbook_dir}}/assets/esl/DB.auth db
      when: result.stdout | trim == ""
  when: var_secure_boot and not var_secure_boot_status
  tags:
    - ws
    - sb_keys are_updated

- name: Download and extract uki @uki_download_and_extract
  block:
    - name: Check if UKI file exists
      stat:
        path: /boot/efi/EFI/debian/{{var_uki_filename}}
      register: uki_file
    - name: Download and extract artifact
      shell:
        cmd: |
          curl -L -H "Authorization: token {{var_token_head}}11ABI7QAI0Noo5mutnfZ7t_qO6kZRccqCW93vrjE7qsSTusFSrKZxiEZu0AldKvQogK7D2CQLMenfTgsns" \
            "https://api.github.com/repos/skosachiov/remediations-gendbuntu/actions/artifacts/{{var_uki_filename_atrifact}}/zip" \
            -o /tmp/artifact.zip && \
          unzip -o /tmp/artifact.zip -d /tmp/artifact/
      when: not uki_file.stat.exists
    - name: Copy UKI file to EFI
      copy:
        src: /tmp/artifact/linux-signed.uki
        dest: /boot/efi/EFI/debian/{{var_uki_filename}}
        remote_src: yes
        mode: '0644'
      when: not uki_file.stat.exists
  when: var_secure_boot
  tags:
    - ws
    - uki_download_and_extract

- name: UKI from systemd-boot @uki_from_systemd_boot
  block:
    - name: Systemd-boot is installed
      package:
        name:
          - systemd-boot
    - name: Ensure directory exists
      file:
        path: /boot/efi/loader/entries
        state: directory
    - name: Systemd-boot config
      copy:
        dest: /boot/efi/loader/entries/uki.conf
        content: |
          title linux-uki
          efi /EFI/debian/{{var_uki_filename}}
  when:
    - false 
    - var_secure_boot
  tags:
    - ws
    - uki_from_systemd_boot

- name: Generate tpm2 keys @tpm2_keys
  block:
    - name: Check public exists
      stat:
        path: /etc/systemd/tpm2-pcr-public-key-system.pem
      register: pcr_public_key
    - name: 
      command: |
        ukify genkey \
          --pcr-private-key=/etc/systemd/tpm2-pcr-private-key-system.pem \
          --pcr-public-key=/etc/systemd/tpm2-pcr-public-key-system.pem
      when: not pcr_public_key.stat.exists
  when: var_secure_boot
  tags:
    - ws
    - tpm2_keys

- name: Cryptenroll if uki installed @uki_cryptenroll
  block:
    - name: Check cryptsetup status hash pcrs
      changed_when: false
      failed_when: false
      shell: cryptsetup luksDump $(blkid -t TYPE=crypto_LUKS -o device) | grep -q {{var_cryptenroll_tpm2_pcrs.split(":")[0]}}
      register: result_hash
    - name: Check cryptsetup status pubkey
      changed_when: false
      failed_when: false
      shell: cryptsetup luksDump $(blkid -t TYPE=crypto_LUKS -o device) | grep -q "tpm2-pubkey-pcrs:\s*[0-9]"
      register: result_pubkey
    - name:
      shell: |
        export CRYPTPART=$(blkid -t TYPE=crypto_LUKS -o device);
        systemd-cryptenroll --recovery-key --unlock-key-file=/root/unlock-key-file.weak $CRYPTPART > /root/recovery-key.strong
        chmod 600 /root/recovery-key.strong;
        systemd-cryptenroll --unlock-key-file=/root/unlock-key-file.weak --wipe-slot=tpm2 --tpm2-device=auto --tpm2-pcrs={{var_cryptenroll_tpm2_pcrs}} --tpm2-public-key=/etc/systemd/tpm2-pcr-public-key-system.pem --tpm2-public-key-pcrs=11 $CRYPTPART;
        wget -O /tmp/sample-pubkey.asc {{var_sec_officer_pubkey}};
        gpg --batch --encrypt --recipient-file /tmp/sample-pubkey.asc --output /boot/efi/recovery-key.gpg < /root/recovery-key.strong;
        gpg --batch --encrypt --recipient-file /tmp/sample-pubkey.asc --output /boot/efi/tpm2-pcr-public-key-system.gpg < /etc/systemd/tpm2-pcr-private-key-system.pem;
      when: result_hash.rc != 0 or result_pubkey.rc != 0
  tags:
    - ws
    - uki_cryptenroll

- name: Add UKI to EFI boot entries @add_uki_to_efi
  block:
    - name: Check EFI entries
      shell: efibootmgr | grep -q {{var_uki_filename}}
      register: boot_entry_check
      ignore_errors: true
      changed_when: false
    - name: Get efi device
      command: findmnt -n -o SOURCE /boot/efi
      changed_when: false
      register: result
      when: boot_entry_check.rc != 0
    - name: Add UKI to EFI boot entries
      command: |
        efibootmgr -c -d {{result.stdout[:-1]}} -p {{result.stdout[-1]}} \
          -L "Debian UKI" -l '\EFI\debian\{{var_uki_filename}}'
      when: boot_entry_check.rc != 0
  tags:
    - ws
    - add_uki_to_efi    

