# Allow execute for system users

allow perm=execute auid=-1 all : all
allow perm=execute auid=0 all : all
allow perm=execute auid=1000 all : all
allow perm=execute auid={{var_ansible_username}} all : all
