<?xml version="1.0" encoding="utf-8"?>
<zone>
    <short>trusted</short>
{% if var_flags.devel_workstation.state %}
    <source address="192.168.122.1"/>
{% endif %}
    <source address="10.10.11.11"/>
    <port protocol="tcp" port="22"/>
    <port protocol="tcp" port="3389"/>
    <service name="ssh"/>
</zone>