name: debian-13

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:

  test:
    runs-on: ubuntu-latest
    container: debian:13
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - run: apt -y install ansible-core
      - run: ansible-playbook -b --check --connection=local -i 127.0.0.1, workstation.yml
 