name: ubuntu-24.04

on:
  push:
    tags:
      - "*"
  pull_request:
    branches: [main]

jobs:

  ansible-check:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt update
      - run: sudo apt -y install ansible
      - run: ansible-playbook -b --check --connection=local -i 127.0.0.1, workstation.yml
